{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>Udacious Musical Instruments</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class='flash'>
    <ul>
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="category_list">
    {% for category in categories %}
    <a href = "{{url_for('showCategory', category_id = category.id)}}" class="category_link">{{category.name}}</a>
    {% endfor %}
</div>
<div class="latest_instruments">
    <a href="{{ url_for('newInstrument', category_id=1) }}">Add an instrument</a>
    <h3>Latest Instruments:</h3>
    {% for inst in latest %}
        <a href="{{ url_for('showInstrument', instrument_id=inst.id) }}">{{ inst.name }}</a> 
        ({{ inst.category_name }})
        <br/>
    {% endfor %}
</div>
{% endblock %}