{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<script>
function validate(form) {
    //var theForm = document.getElementById('addInst');
    if (form.category_id.value == 0) {
        document.getElementById('categoryRequired').style.display = 'inline';
        return false;
    }
    if (form.name.value == "") {
        document.getElementById('nameRequired').style.display = 'inline';
        return false;
    }
    return true;
}
</script>
<div>
    <h1>{% if instrument.id == None %}New{% else %}Edit{% endif %} Instrument</h1>
</div>

<div>
    {% if instrument.id == None %}
    <form action="{{ url_for('newInstrument', category_id=instrument.category_id) }}" id="addInst" method="post" onsubmit="return validate(this);">
    {% else %}
    <form action="{{ url_for('editInstrument', category_id=instrument.category_id, instrument_id=instrument.id) }}" id="addInst" method = "post" onsubmit="return validate(this);">
    {% endif %}
        <label for="category">Category:</label>
        <select name="category_id" id="category_id">
            <option value="0">-- Select a category --</option>
            {% for cat in categories %}
            <option value="{{ cat.id }}"{% if instrument and instrument.category_id == cat.id %} selected{% endif %}>{{cat.name}}</option>
            {% endfor %}
        </select>
        <span id="categoryRequired" class="required">*</span>
        <br/>

        <label for="name">Name:</label>
        <input type ="text" maxlength="100" class="form-control" name="name" id="name" {% if instrument.name != None %}value="{{ instrument.name }}"{% else %}placeholder="Enter name"{% endif %}>
        <span id="nameRequired" class="required">*</span>
        <br/>

        <label for="description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description" id="description">{% if instrument.name != None %}{{ instrument.description }}{% endif %}</textarea>
        <br/>

        <label for="price">Price:</label>
        $ <input type ="text" maxlength="10" class="form-control" name="price" id="price" {% if instrument.name != None %}value="{{ instrument.price }}"{% else %}placeholder="Enter price"{% endif %} size="10">
        <br/>

        <label for="picture">Picture URL:</label>
        <input type="text" name="picture" id="picture" {% if instrument.name != None %}value="{{ instrument.picture }}"{% else %}placeholder="Enter URL"{% endif %} size="50">
        <br/>
        <br/>

        <button type="submit" id="submit" type="submit">Save</button>
        <a href="{{ url_for('showCatalog') }}">Cancel</a>
    </form>
</div>

{% endblock %}