{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1><a href="{{url_for('showCategory', category_id = category.id)}}">{{ category.name }}</a>
            <figure class="manager">
                <img src="{{ manager.picture }}" width="200" alt="{{manager.name}}">
                <figcaption>{{manager.name}}</figcaption>
            </figure>
            </h1>

        </div>
    </div>

<div class = 'flash'>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</div>

<h2>Instruments</h2>
{% for i in instruments %}
    <div class="menu-item">
        <h3>{{i.name}}</h3>
           <p>{{i.description}}</p>
        <p class="menu-price">{{i.price}}</p>
        {% if current_user.id == manager.id %}
        <a href="{{ url_for('editInstrument', category_id = category.id, instrument_id=i.id ) }}">Edit</a> | 
        <a href="{{ url_for('deleteInstrument', category_id = category.id, instrument_id=i.id ) }}">Delete</a>
        {% endif %}
    </div>
{% endfor %}

<div class="addInstrument">
    <a href="{{ url_for('newInstrumentWithCategory', category_id=category.id) }}">Add an instrument</a>
</div>


{% endblock %}